.caroussel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        
    overflow: hidden;

    &__left-icon{
        left: 0px;
    }

    &__right-icon{
        right: 0px;
    }

    span {
        position: absolute;
        font-size: xxx-large;
        font-weight: bolder;
        border-radius: 15%;
        background-color: rgba(255, 255, 255, 0.5);//blanc transparent
        margin: 8px;
        padding: 5px;

        z-index: map-get($map: $z-index, $key: "arrows");
        cursor: pointer;
        
        &:hover {
            color: $active-color;
            background-color: rgba(255, 255, 255, 0.750);//blanc transparent
            border: 1px solid $active-color;
        }
    }

   /* .nav{
        position: absolute;
        z-index: 1;
        width: $total-width;
        display: flex;
        justify-content: space-between;
        margin: 2px;
    }
*/
    .movie-blocks{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: 0px;
    }
}
