.movie-block {
    border: $normal-border solid $primary-color;
    display: inline-block;
    min-width: calc(($column-width/4) - 8px);
    min-height: calc(($column-width/4) - 8px);
    margin-left: 2px;
    margin-right: 2px;
    background-size: cover;
    cursor: zoom-in;
    
    background-position: right;

    &.large{
        border-width: $large-border;
        display: block;
        min-height: calc($column-width/$ratio);
        margin: 0px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &:hover{
        border-color: $active-color;
    }
    
}
