.movie-block {
    border: $normal-border solid $primary-color;
    display: inline-block;
    min-width: calc(($column-width/4) - 8px);
    min-height: calc(($column-width/4) - 8px);
    margin-left: 2px;
    margin-right: 2px;
    background-size: cover;
    
    background-position: right;

    &.large{
        font-size: larger;
        padding-left: 30px;
        padding-right: 70%;
        border-width: $large-border;
        display: block;
        min-height: calc($column-width/$ratio);
        margin: 0px;
        background-size: 70%;
        background-color: $primary-color;
        color: white;
        background-repeat: no-repeat;
    }
}
