
.global {
    max-width: $column-width;
    margin-left:auto;
    margin-right:auto;
}

.heading {
    display: flex;
    background-color: $heading-color;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    &__logo{
        max-height: 120px;
    }

    h1{
        float: left;
    }

    ul {
        display: inline-block;
        position: relative;
        a {
            text-decoration: none;
            font-variant: small-caps;

            &:visited{
                color:black
            }
        }
        .under {
            padding: 0;
            padding: 5px;
            display: none;
            position: absolute;
            box-shadow: 0px 1px 2px black;
            background-color: $heading-color;
        }
    }

    li {
        
        text-align: right;
        display: inline-block;
        position: relative;
        width: 280px;
        font-size: x-large;

        .scrolling::after{
            content: " ▼";
        }
    }

    .under li {
        margin-top: 2px;
        width: 100%;

        &:hover{
            background-color: darken($heading-color, 15%);
        }
    }

    ul li:hover .under {
        display: block;
    
    }
}

h2 {
    text-align: center;
}

%infos{
    padding-left: 30px;
    padding-right: 530px;
    font-size: larger;
}

.my_button {
    display: inline-block;
    padding: 1.5rem;
    background: $heading-color;
    border-radius: 20px;
    margin: 20px;
    font-size: 1.5rem;
    color: $primary-color;
    border: 2px solid $primary-color;
}

.active{
    cursor: zoom-in;
    &:hover{
        border-color: $active-color;
        color: $active-color;
    }
}