$primary-color: black;
$active-color: orange;
$heading-color: gainsboro;

$normal-border: 2px;
$large-border: 5px;

$column-width: 1200px;
$modal-width: 1400px;
$ratio: 1.85;

$z-index: ("arrows":1, "modal":2);

@mixin border($type: "normal") {
    @if ($type=="large"){
        border: $large-border solid $primary-color;
    }@else{
        border: $normal-border solid $primary-color;
    }
}
